<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
 </configSections>
 <connectionStrings>
  <add name="SadapMakanDB" connectionString="Data Source=localhost;Initial Catalog=SadapMakanDB;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
  <add name="oop_aasignment.Properties.Settings.SadapMakanDBConnectionString"
   connectionString="Data Source=localhost;Initial Catalog=SadapMakanDB;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

</configuration>


